.city-administrator {
    background-color: #ffffff;
    display: flex;
    min-height: 832px;
    min-width: 1280px;
    width: 100%;
}

.city-administrator .cluj-multihazard {
    background-image: url(./vector.svg);
    background-size: 100% 100%;
    height: 832px;
    position: relative;
    width: 1280px;
}

.city-administrator .group {
    height: 49.78%;
    left: 27.81%;
    opacity: 0.55;
    position: absolute;
    top: 21.88%;
    width: 43.19%;
}

.city-administrator .vector {
    height: 60.71%;
    left: 0;
    position: absolute;
    top: 6.85%;
    width: 46.31%;
}

.city-administrator .img {
    height: 35.71%;
    left: 30.58%;
    position: absolute;
    top: 0;
    width: 41.17%;
}

.city-administrator .vector-2 {
    height: 35.71%;
    left: 66.68%;
    position: absolute;
    top: 56.84%;
    width: 30.87%;
}

.city-administrator .vector-3 {
    height: 35.71%;
    left: 64.10%;
    position: absolute;
    top: 24.70%;
    width: 33.45%;
}

.city-administrator .vector-4 {
    height: 28.57%;
    left: 40.97%;
    position: absolute;
    top: 35.44%;
    width: 30.87%;
}

.city-administrator .vector-5 {
    height: 39.29%;
    left: 10.04%;
    position: absolute;
    top: 60.40%;
    width: 36.02%;
}

.city-administrator .text-wrapper {
    color: #e2e8f0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 17.6px;
    font-weight: 700;
    height: 4.59%;
    left: 16.46%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 31.87%;
    white-space: nowrap;
    width: 18.45%;
}

.city-administrator .div {
    color: #e2e8f0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 17.6px;
    font-weight: 700;
    height: 4.59%;
    left: 46.65%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14.00%;
    white-space: nowrap;
    width: 14.83%;
}

.city-administrator .text-wrapper-2 {
    color: #e2e8f0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 17.6px;
    font-weight: 700;
    height: 4.59%;
    left: 72.88%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 42.50%;
    white-space: nowrap;
    width: 18.99%;
}

.city-administrator .text-wrapper-3 {
    color: #e2e8f0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 17.6px;
    font-weight: 700;
    height: 4.83%;
    left: 18.09%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 74.61%;
    white-space: nowrap;
    width: 18.81%;
}

.city-administrator .text-wrapper-4 {
    color: #e2e8f0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 17.6px;
    font-weight: 700;
    height: 4.83%;
    left: 75.60%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77.03%;
    white-space: nowrap;
    width: 16.64%;
}

.city-administrator .text-wrapper-5 {
    color: #e2e8f0;
    font-family: "Inter-Bold", Helvetica;
    font-size: 17.6px;
    font-weight: 700;
    height: 4.83%;
    left: 50.81%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 46.84%;
    white-space: nowrap;
    width: 12.48%;
}

.city-administrator .group-2 {
    height: 7.11%;
    left: 0;
    position: absolute;
    top: 2.67%;
    width: 96.98%;
}

.city-administrator .vector-6 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 99.68%;
}

.city-administrator .p {
    color: #e5e7eb;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    height: 42.26%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31.80%;
    white-space: nowrap;
    width: 54.14%;
}

.city-administrator .text-wrapper-6 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 27.04%;
    left: 81.18%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43.63%;
    white-space: nowrap;
    width: 14.10%;
}

.city-administrator .group-3 {
    height: 75.11%;
    left: 2.50%;
    position: absolute;
    top: 12.44%;
    width: 20.99%;
}

.city-administrator .vector-7 {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 99.26%;
}

.city-administrator .text-wrapper-7 {
    color: #e5e7eb;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 3.52%;
    left: 6.70%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3.27%;
    white-space: nowrap;
    width: 75.19%;
}

.city-administrator .vector-8 {
    height: 0;
    left: 5.29%;
    object-fit: cover;
    position: absolute;
    top: 7.61%;
    width: 88.67%;
}

.city-administrator .group-4 {
    height: 4.80%;
    left: 6.62%;
    position: absolute;
    top: 10.00%;
    width: 80.89%;
}

.city-administrator .text-wrapper-8 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 53.33%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 77.76%;
}

.city-administrator .vector-9 {
    height: 30.81%;
    left: 0;
    position: absolute;
    top: 69.13%;
    width: 98.16%;
}

.city-administrator .vector-10 {
    height: 30.81%;
    left: 0;
    position: absolute;
    top: 69.13%;
    width: 77.71%;
}

.city-administrator .text-wrapper-9 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 46.67%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53.33%;
    white-space: nowrap;
    width: 42.33%;
}

.city-administrator .group-5 {
    height: 4.75%;
    left: 6.62%;
    position: absolute;
    top: 16.56%;
    width: 80.89%;
}

.city-administrator .text-wrapper-10 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 53.95%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 70.40%;
}

.city-administrator .vector-11 {
    height: 31.17%;
    left: 0;
    position: absolute;
    top: 68.83%;
    width: 98.16%;
}

.city-administrator .vector-12 {
    height: 31.17%;
    left: 0;
    position: absolute;
    top: 68.83%;
    width: 85.89%;
}

.city-administrator .text-wrapper-11 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 43.83%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53.95%;
    white-space: nowrap;
    width: 55.67%;
}

.city-administrator .group-6 {
    height: 4.96%;
    left: 6.62%;
    position: absolute;
    top: 23.12%;
    width: 80.89%;
}

.city-administrator .text-wrapper-12 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 48.39%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 62.58%;
}

.city-administrator .vector-13 {
    height: 29.82%;
    left: 0;
    position: absolute;
    top: 64.80%;
    width: 98.16%;
}

.city-administrator .vector-14 {
    height: 29.82%;
    left: 0;
    position: absolute;
    top: 64.80%;
    width: 61.35%;
}

.city-administrator .text-wrapper-13 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 45.16%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 54.84%;
    white-space: nowrap;
    width: 69.48%;
}

.city-administrator .group-7 {
    height: 75.11%;
    left: 76.67%;
    position: absolute;
    top: 12.44%;
    width: 20.99%;
}

.city-administrator .text-wrapper-14 {
    color: #e5e7eb;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 3.52%;
    left: 6.58%;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3.27%;
    white-space: nowrap;
    width: 80.02%;
}

.city-administrator .group-8 {
    height: 19.20%;
    left: 6.58%;
    position: absolute;
    top: 10.00%;
    width: 80.02%;
}

.city-administrator .text-wrapper-15 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 13.33%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 95.35%;
}

.city-administrator .text-wrapper-16 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 13.33%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21.67%;
    white-space: nowrap;
    width: 78.14%;
}

.city-administrator .text-wrapper-17 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 13.33%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43.33%;
    white-space: nowrap;
    width: 79.53%;
}

.city-administrator .text-wrapper-18 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 13.33%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 65.00%;
    white-space: nowrap;
    width: 69.30%;
}

.city-administrator .text-wrapper-19 {
    color: #a7b0c0;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 13.33%;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 86.67%;
    white-space: nowrap;
    width: 67.44%;
}
